/* CSS declarations go here */

body {
  background: url('/stars.jpg');
  /*background-color: black;*/
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#pong-app {
  margin-top: 20px;
}

.in-game h1, h2, p {
  color: white;
  text-align: center;
}

h1.game-name {
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 100px;
}

img {
  width: 90px;
  padding-right: 50px;
}

p.menu-item {
  font-size: 40px;
  text-transform: uppercase;
}

p.game-start:before {
  content: '\25b6\00a0';
}

p.game-start:after {
  content: '\00a0\25C0';
}

p.game-start {
  animation: pulse 1s linear infinite;
  -webkit-animation: pulse 1s linear infinite;
  -moz-animation: pulse 1s linear infinite;
}

p.game-start a {
  /*color: white;*/
  text-decoration: none;
}

p.menu-item.selected {
  color: rgba(28, 148, 1, 1);
}

p.menu-item.selected:before {
  content: '\25b6\00a0';
}

p.menu-item.selected:after {
  content: '\00a0\25C0';
}

@keyframes pulse {
   0% {
      color: rgba(250, 25, 25, 1);
   }
   90% {
      color: rgba(255,0,0,0.0);
   }
   100% {
      color: rgba(255,0,0,1.0);
   }
}

@-moz-keyframes pulse {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-webkit-keyframes pulse {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

.game-credits {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.player-container {
  width: 49%;
  height: 800px;
}

.player-container.left p.player-name {
  text-align: left;
}

.player-container.right p.player-name {
  text-align: right;
}

.serving-message {
  position: absolute;
  bottom: 0;
  color: red;
  text-align: center;
  display: block;
  padding: 10px;
  border: 2px solid red;
  border-radius: 5px;
}

.player-container.left .serving-message {
  left: 20%;
}

.player-container.right .serving-message {
  right: 20%;
}


.player-container .score {
  font-size: 250px;
  margin-top: 300px;
}

.left {
  float: left;
  border-right: 5px solid white;
}

.right {
  float: right;
}

.game-message {
  position: absolute;
  left: 23%;
  top: 36%;
  padding: 0px;
  border: 5px solid white;
  border-radius: 5px;
  width: 500px;
  background: black;
}

.game-message p {
  line-height: 72px;
  font-size: 36px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

/* Leader Board */
.leader-board-title {
  font-size: 80px;
  margin-bottom: 70px;
}

.leader-board {
  list-style-type: none;
  font-size: 50px;
  margin: auto;
  width: 85%;
}

.leader-board li {
  margin-bottom: 20px;
}

.leader-board .name {
  text-align: left;
}

.leader-board .record {
  text-align: right;
  float: right;
}

.hide {
  display: none;
}

  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
/*    background: #fff;*/
    z-index: 99;
    /*border-top: 1px solid #eee;*/
    /*border-bottom: 1px solid #eee;*/
  }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }

.navbar-list {
 list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  /*color: #222;*/
}
.navbar-link.active {
  color: #33C3F0;
}

td {
  border-color: #444;
}

td > a {
  text-decoration: none;
}

input, textarea {
  color: black;
}

.alert {
  padding: 20px;
  border-left: 5px solid;
  position: absolute;
  top: -20px;
  width: 100%;
  z-index: 1;
  overflow-y: hidden;
  max-height: 64px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.alert.closed {
  max-height: 0;
  padding: 0px;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

